<div class="container">
    <% if(message.length > 0) {%>
        <div class="m-3 alert alert-success">
            <%= message  %>    
        </div>

    <% } %>     
    <form class="d-flex m-3" action="/search" method="get" >
        <input class="form-control" name="search" id="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <form class="form-inline" method="post" action="/">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="todo" id="todo" placeholder="Todo">
        </div>
        <button type="submit" class="btn btn-primary mb-2"><i class="fa-solid fa-plus"></i></button>
    </form>
    <% todos.forEach((todo)=>{ %>
        <ul>
            <li><%= todo.todo %>
                <div> 
                    <form action="/delete/<%= todo.id %>?_method=DELETE" method="post">
                        <a href="/update/<%= todo.id %> " class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button type="submit" class="btn btn-danger m-2"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </div>
            </li>
        </ul>
    <% }) %> 
</div>